@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: #00BCD4;
$black-light: #2B2D2E;
.videoTable {
  margin: 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24),0 1px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.22);
}
.videoItem, .videoItemHeader {
  flex: 1;
  display: flex;
  cursor: pointer;
  z-index: 4;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.videoItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.buttonHeader {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
.btnBack {
  margin-right: 10px;
}

.videoTitle, .videoUrl {
  flex: 1;
  cursor: pointer;
  z-index: 4;
}
.videoUrl {
  flex: 2;
  text-decoration: none;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: darkgreen;
}
.videoDuration {
  width: 90px;
  cursor: pointer;
  z-index: 4;
  text-align: right;
}
.videoTitleHeader, .videoUrlHeader {
  flex: 1;
  font-weight: 700;
  z-index: 4;
}
.videoUrlHeader {
  flex: 2;
}
.videoDurationHeader {
  width: 90px;
  font-weight: 700;
  z-index: 4;
}
