.loginSignupContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: #E7EBED;
  .mdl-textfield {
    width: 275px;
  }
  .mdl-textfield__label {
    visibility: visible !important;
    top: -5px !important;
  }
  .mdl-textfield__label:after {
    background-color: transparent !important;
  }
  .mdl-textfield__input {
    border: 2px solid #E3DCDC !important;
    border-radius: 5px;
    height: 30px !important;
    font-size: 15px !important;
    padding-left: 5px;
  }
  .mdl-textfield.mdl-js-textfield.is-focused {
    .mdl-textfield__input {
      border: 2px solid #FF5500 !important;
    }
  }
  .mdl-checkbox__box-outline {
    width: 20px;
    height: 20px;
    top: 2px;
    border: 2px solid #E3DCDC;
    border-radius: 5px;
  }
  .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #FF5500;
    border-radius: 5px;
  }
  .mdl-checkbox__label {
    margin-left: 5px;
  }
}
.pageLabel {
  font-size: 20px !important;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 680px;
  padding: 20px 30px;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.groupContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.form {
  flex: 1;
}
.separator {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.line {
  flex: 1;
  width: 1px;
  background-color: #E5E5E5;
}
.labelOr {
  margin: 20px;
  font-size: 15px !important;
  color: #B0B0B0;
  font-weight: 100;
}
.social {
  flex: 1;
}
.inputPassword {
  padding: 0px;
  padding-top: 20px;
}
.forgotPassword {
  display: flex;
  margin-left: 5px;
  margin-bottom: 30px;
  color: #FF5500;
  font-size: 15px !important;
  cursor: pointer;
  border-bottom: 1px solid #FFD4BF;
}
.forgotPassword:active {
  opacity: 0.5;
}
.btnLogin, .facebook, .gmail {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  background-color: #FF5500;
  color: #FFF;
  margin-top: 30px;
}
.facebook {
  background-color: #3b5998;
  text-transform: lowercase;
  font-size: 28px;
  font-weight: 800;
}
.gmail {
  background-color: #E9544F;
}
.signupContainer {
  width: 740px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.labelSign {
  font-size: 17px !important;
}
.labelConnectWith {
  font-size: 14px !important;
  color: #BFBFBF;
}
