@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$white: #FFFFFF;
$black: #333333;
$gray: #E3E3E3;
$blue: #00BCD4;
$black-light: #2B2D2E;

.container {
  position: relative;;
  display: flex;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}
.collapseContainer {
  display: flex;
  flex: 1;
  background: white;
  border-color: transparent;
}
.searchHeaderPane {
  background-color: transparent;
  flex: 1;
  flex-direction: row;
}
.filterContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .filterContainer {
    flex-direction: column;
  }
}

.checkContainers {
  background-color: transparent;
  flex: 1;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.userContainer {
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  z-index: 1000;
}
.userItem, .userItemHighLighted {
  height: 50px;
  flex: 1;
  margin-left: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 1000;
  font-weight: 500;
  font-size: 15px !important;
  color: #888;
  .userImage {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
  }
  .videoCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 10px;
    color: #444;
    .count {
      margin-right: 10px;
      color: #F50;
    }
  }
}
.userItemHighLighted {
  background-color: #FFEEE5;
  color: #F50;
}
.searchUserContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.searchUserLabel {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px !important;
  height: 30px;
  margin-right: 10px;
}
.userFilterContainer {
  margin-top: 10px;
}
.userFilterContainer > div{
  display: flex !important;
  flex-direction: column;
  position: absolute;
  left: 345px;
}
.userFilterLabel {
  left: 245px !important;
  color: #000;
  font-size: 16px;
  line-height:30px;
  font-weight: 700;
}
