.userArea {
  position: absolute;
  left: 15px;
  bottom: 10px;
  height: 35px;
  .userThumb {
    margin-top: 5px;
    width: 28px;
    height: 28px;
    background-size: cover;
    border-radius: 14px;
  }
  .reviewIconContainer {
    position: absolute;
    left: 18px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .reviewIcon {
      width: 12px;
      height: 12px;
      background-size: cover;
    }
  }
  .nameArea {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    .userName {
      margin-left: 10px;
      text-decoration: underline;
      color: #F50;
    }
  }
}
.previewStatusContainer {
  position: relative;
  width: 200px;
  top: 30px;
}
